@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(6, 24, 32);
  --primary-color-darker: rgb(23, 28, 29);
}

*{
  box-sizing: border-box;
  outline: 0;
}

body{
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container{
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

form input, form label, form button{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.input-tarefa{
  width: 200px;
  font-size: 18px;
  height: 30px;
  padding: 0 20px;
  border: 2px solid black;
  background: transparent;
  outline: none;
}

.input-tarefa:focus{
  border-color: var(--primary-color);
  outline: none;
}

button{
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
  height: 23px;
  cursor: pointer;
  margin-top: 30px;
}

button:hover{
  background: rgb(14, 14, 77);
}
